

<!-- Code Review (Change this implementation to  Angular Material CDK PORTAL) -->

<!-- Nav Header Best Games-->
<nav *ngIf="checkRouter == '1' ">
  <ul fxLayout="row wrap" fxLayoutAlign="space-between"  fxLayoutGap="15px">
    <li fxFlex fxFill [routerLink]="['/white-hat/1/best-games']" routerLinkActive="active">Top Games</li>
    <li fxFlex fxFill [routerLink]="['/white-hat/1/new-games']" routerLinkActive="active">New Games</li>
    <li fxFlex fxFill [routerLink]="['/white-hat/1/slots']" routerLinkActive="active">Slots</li>
    <li fxFlex fxFill [routerLink]="['/white-hat/1/jackpots']" routerLinkActive="active">Jackpots</li>
    <li fxFlex fxFill [routerLink]="['/white-hat/1/live']" routerLinkActive="active">Live</li>
    <li fxFlex fxFill [routerLink]="['/white-hat/1/black-jack']" routerLinkActive="active">Blackjack</li>
    <li fxFlex fxFill [routerLink]="['/white-hat/1/roulette']" routerLinkActive="active">Roulette</li>
    <li fxFlex fxFill [routerLink]="['/white-hat/1/table']" routerLinkActive="active">Table</li>
    <li fxFlex fxFill [routerLink]="['/white-hat/1/poker']" routerLinkActive="active">Poker</li>
    <li fxFlex fxFill [routerLink]="['/white-hat/1/other']" routerLinkActive="active">Others</li>
  </ul>
</nav>

<!-- Nav Header All Games-->
<nav class="header-all-games" *ngIf="checkRouter == '2' ">
  <ul fxLayout="row wrap" fxLayoutAlign="space-between">
    <li fxFlex fxFill [routerLink]="['/white-hat/2/all-games']" routerLinkActive="active">Teste</li>
    <li fxFlex fxFill [routerLink]="['/white-hat/2/all-games1']" routerLinkActive="active">Teste1</li>
    <li fxFlex fxFill [routerLink]="['/white-hat/2/all-games2']" routerLinkActive="active">Teste2</li>
    <li fxFlex fxFill [routerLink]="['/white-hat/2/all-games3']" routerLinkActive="active">Teste3</li>
    <li fxFlex fxFill [routerLink]="['/white-hat/2/all-games4']" routerLinkActive="active">Teste4</li>
    <li fxFlex fxFill [routerLink]="['/white-hat/2/all-games5']" routerLinkActive="active">Teste5</li>
    <li fxFlex fxFill [routerLink]="['/white-hat/2/all-games6']" routerLinkActive="active">Teste6</li>
    <li fxFlex fxFill [routerLink]="['/white-hat/2/all-games7']" routerLinkActive="active">Teste7</li>
    <li fxFlex fxFill [routerLink]="['/white-hat/2/all-games8']" routerLinkActive="active">Teste8</li>
    <li fxFlex fxFill [routerLink]="['/white-hat/2/all-games9']" routerLinkActive="active">Teste9</li>
  </ul>
</nav>
